BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 200
BreakBeforeBraces: Allman           
AllowShortFunctionsOnASingleLine: Inline
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false
ConstructorInitializerIndentWidth: 4
BreakConstructorInitializers: AfterColon